spring:
  application:
    name: mockly

  datasource:
    url: jdbc:postgresql://localhost:5432/{db}
    username: ${username}
    password: ${password}
    driver-class-name: org.postgresql.Driver

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: create-drop
      show-sql: true
      properties:
        hibernate:
          format_sql: true

#  # H2 콘솔 활성화 (개발 편의성)
#  h2:
#    console:
#      enabled: true
#      path: /h2-console